

@{
    ViewData["Title"] = "Landingpage";
}


    <h1>Landingpage</h1>

@*Look at the controller du find the redirect action method named accordingly*@ 
    <a class="nav-link text-dark" asp-area="" asp-controller="Addtournament" asp-action="AddTournament"> Create Tournament</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Profile</a>


@*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Create Tournament</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Profile</a>*@


@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout"
       class="btn btn-danger">Logout</a>
}


