
TournamentWeb/.vs/TournamentWeb/DesignTimeBuild/.dtbcache.v2

TournamentWeb/.vs/TournamentWeb/v16/.suo

TournamentWeb/appsettings.json

TournamentWeb/bin/Debug/net5.0/appsettings.json

TournamentWeb/bin/Debug/net5.0/IdentityFramework.Core.dll

TournamentWeb/bin/Debug/net5.0/ref/TournamentWeb.dll

TournamentWeb/bin/Debug/net5.0/TournamentWeb.deps.json

TournamentWeb/bin/Debug/net5.0/TournamentWeb.dll

TournamentWeb/bin/Debug/net5.0/TournamentWeb.pdb

TournamentWeb/bin/Debug/net5.0/TournamentWeb.Views.dll

TournamentWeb/Controllers/AddtournamentController.cs

*.dll

*.pdb

TournamentWeb/Migrations/

TournamentWeb/obj/Debug/net5.0/Razor/Views/Landing/Landingpage.cshtml.g.cs

TournamentWeb/obj/Debug/net5.0/Razor/Views/PopUps/AddPlayer.cshtml.g.cs

TournamentWeb/obj/Debug/net5.0/Razor/Views/PopUps/CreateTeam.cshtml.g.cs

*.cs

*.cache

TournamentWeb/obj/project.assets.json

TournamentWeb/obj/TournamentWeb.csproj.nuget.dgspec.json

TournamentWeb/TournamentWeb.csproj

TournamentWeb/obj/Debug/net5.0/TournamentWeb.csproj.FileListAbsolute.txt
