@model AppUser

<h1> THis is the profile page!</h1>
<div class="bg-primary m-1 p-1 text-white"
     ><h4>@Model.UserName</h4></div>

@if (Model != null)
{

}

@if (Model.Email.ToString() == "admin@example.com")
{ 
<a class="btn btn-info" asp-area="" asp-controller="Admin" asp-action="Index">Admin overview</a>
}


<section>
info:Refer to model to get data here

</section>



@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout"
       class="btn btn-danger">Logout</a>
}