
@model Tournament
@using Microsoft.AspNetCore.Identity;
<div asp-validation-summary=" All" class="text-danger"></div>



@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager



<form class="formouter" asp-action="AddTournament" asp-controller="Addtournament" method="post" enctype="multipart/form-data">
    <h2 class="Fheader">Create Tournament</h2>
    <div class="form">
        <label asp-for="TimeFrame"> Start Time</label>
        <input class="formtime" asp-for="TimeFrame" />
        @*<span asp-validation-for="TimeFrame"></span>*@
    </div>
    <div class="form">
        <label asp-for="TournamentName"></label>
        <input asp-for="TournamentName" />
        @*<span asp-validation-for="TournamentName"></span>*@
    </div>

    <div class="form">
        <label asp-for="TournamentInfo"></label>
        <textarea asp-for="TournamentInfo"></textarea>
        @*<span asp-validation-for="TournamentInfo"></span>*@
    </div>

    <div class="form">
        <label asp-for="Bracketsize"></label>
        <input class="formtime" type="number" asp-for="Bracketsize">
        @*<span asp-validation-for="Bracketsize"></span>*@
    </div>

    <div class="form">
        <label asp-for="TournamentImageFile">Default file input example</label>
        <input class="formtime" asp-for="TournamentImageFile" type="file">
    </div>

    <div class="form">
        <input type="hidden" asp-for="UserId" value="@UserManager.GetUserId(User)" />
    </div>


    <button type="submit" class="Formbutton">Create!</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>


