
<div class="PopupBox">
    <p>@("http://localhost:44881/Tournaments/AddPlayer/" + TempData["id1"] + "?TeamId=" + TempData["id2"])</p>
</div>

<style>
    .PopupBox {
        height: 300px;
        width: 700px;
        border-radius: 24px;
        background: white;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

</style>