@model TournamentWeb.Models.ViewModels.LoginViewModel

<div class="PopupBox">
    <div class="textlogin"><h4>Log In</h4></div>
    <div asp-validation-summary="All"></div>
    <form class="formtime" asp-action="Login" asp-controller="Account" method="post">
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div  class="form">
            <label asp-for="UserName"></label>
            <input class="formtime username" asp-for="UserName" />
        </div>
        <div class="form">
            <label  asp-for="Password"></label>
            <input  class="formtime pass" asp-for="Password"  style="width:100%;" />
        </div>
        <div class="textlogin">
            <p>Did you forget your login?<a href="">Click here</a></p> 
        </div>
        <button class="orangebutton" type="submit">Log In</button>
    </form>
</div>


    <style>
        .PopupBox {
            height: 300px;
            width: 700px;
            border-radius: 24px;
            background: white;
            position: absolute;
            z-index:999;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }


        .textlogin {
            color:whitesmoke;
            text-align: center;
            margin-top: 2%;
            padding-bottom: 2%;
        }

            .textlogin a {
                margin-left: 1%;
                color: white;
            }

        .PopupBox {
            height: 400px;
            width: 700px;
            background: #1F1F1F;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }

        .pass, .username {
            margin: 0;
            border-color: #43b581;
            border: solid;
            color: #43b581;
            width:50%;
        }
    </style>