<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/layout.css" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <div class="navting">
                <a class="" asp-area="" asp-controller="Landing" asp-action="LandingPage">TournamentWeb</a>
                <div class="nav-A">
                    <ul class="nav-ul">
                        <li class="nav-li">
                            <a class="Link-nav" asp-area="" asp-controller="Tournaments" asp-action="Index">Tournaments</a>
                        </li>
                        <li class="nav-li">
                            <a class="Link-nav" asp-area="" asp-controller="Addtournament" asp-action="AddTournament"> Create Tournament</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-buttons">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <a asp-controller="Account" asp-action="Logout"
                          >Logout</a>
                    }
                    else
                    {
                        <button class="Blackbutton" onclick="testfuck(0, 0, 0, 'LogIn')">
                            Login
                        </button>
                        <a asp-controller="Account" asp-action="Register">Register</a>
                    }
                </div>
            </div>
        </nav>
    </header>


    @if (User?.Identity?.IsAuthenticated ?? false)
    { }

    <div class="flex-View">

        @if (User?.Identity?.IsAuthenticated ?? false)
        {<button class="FormbuttonT" onclick="hidehow()">></button>
            <div class="side" id="side">
                @await Component.InvokeAsync("UserTournaments")
            </div>}
        else
        {

        }


        <div class="main">
            @RenderBody()
        </div>
    </div>




    <footer>
        <section id="footertext">

            <div class="footerboks">
                <div><h3>Explore</h3></div>
                <div><a>Create</a></div>
                <div><a>Tournaments</a></div>
                <div><a>About us</a></div>
                <div><a>Log in</a></div>
                <div><a>Sign up</a></div>
            </div>

            <div class="footerboks">
                <div><h3>About</h3></div>
                <div><a>School Project</a></div>
                <div><a>Terms</a></div>
                <div><a>API</a></div>
            </div>

            <div class="footerboks">
                <div><h3>Social</h3></div>
                <img src="/images/discord-48.png">

            </div>
        </section>
    </footer>








    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>
        //popups
        function testfuck(id1, id2, id3, PopupVIew) {
            console.log("loaded")
                $.ajax({
                    url: "@Url.Action("InitPopUp", "Popup")",
                    type: "POST",
                    data: {
                        'id1': id1,
                        'id2': id2,
                        'id3': id3,
                        'PopupView': PopupVIew,
                    },
            /*        data: { "Id": 1 },  */
                    success: function (result) {
                $("BODY").prepend("<div class='PopUp'>" + result + "</div>");
            }
        })
    }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




<style>
    nav {
        display: flex !important;
        flex-direction: row !important;
    }

    .nav-buttons {
        width: 25%;
        display: flex;
        flex-direction: row;
        margin-right: 20%;
        align-items: center;
    }

        .nav-buttons button {
            margin-right: 5%;
        }

    .navting {
        width: 100%;
        height: 75px;
        background-color: #1C2123 !important;
        display: flex;
        flex-direction: row;
    }

    nav-list {
        display: flex;
        flex-direction: row;
    }

    .nav-A {
        display: flex;
        flex-direction: row;
        width: 75%;
    }

    .nav-ul {
        color: black;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
    }

    .nav-li {
        margin-left: 10%;
        width: 50%;
    }

    .Link-nav {
        color: white;
        text-decoration: none !important;
    }
</style>