<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Landing" asp-action="LandingPage">TournamentWeb</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tournaments" asp-action="Index">Tournaments</a>
                        </li>
                    </ul>
                </div>
            </div>
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Account" asp-action="Logout"
                   class="btn btn-danger">Logout</a>
            }
            else
            {
                <a onclick="testfuck(0, 0, 0, 'LogIn')"
                   class="btn btn-light">Login</a>
                <a asp-controller="Account" asp-action="Register"
                   class="btn btn-primary">Register</a>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TournamentWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>
        //popups
        function testfuck(id1, id2, id3, PopupVIew) {
            console.log("loaded")
                $.ajax({
                    url: "@Url.Action("InitPopUp", "Popup")",
                    type: "POST",
                    data: {
                        'id1': id1,
                        'id2': id2,
                        'id3': id3,
                        'PopupView': PopupVIew,
                    },
            /*        data: { "Id": 1 },  */
                    success: function (result) {
                $("BODY").prepend("<div class='PopUp'>" + result + "</div>");
            }
        })
    }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>

</style>
