
@{
    ViewData["Title"] = "View";
}
@{
    <div class="containerS">
        @if (ViewBag.CreatedTournaments.Count != 0)
        {
            <h3 style="margin-left:2%;" class="Fheader">Your created Tournaments</h3>

            @foreach (var T in ViewBag.CreatedTournaments)
            {
                <a class="flex-inner" href="/Tournaments/Details/@T.TournamentId" style="text-decoration:none">
                    <div class="side1">
                        @if (T.TournamentImage != null)
                        {
                            <img src="/images/tournaments/@T.TournamentImage">
                        }
                    </div>
                    <div class="side2">
                        <h3>@T.TournamentName</h3>
                        <p>@T.TimeFrame</p>
                    </div>
                </a>
            }
        }

        @if (ViewBag.joinedTournaments.Count != 0)
        {
            <h3 style="margin-left:1%;"class="Fheader">Your Joined Tournaments</h3>
            @foreach (var f in ViewBag.joinedTournaments)
            {
                <a class="flex-inner" href="/Tournaments/Details/@f.TournamentId" style="text-decoration:none">

                    <div class="side1">
                        @if (f.TournamentImage != null)
                        {
                            <img src="/images/tournaments/@f.TournamentImage">
                        }
                    </div>
                    <div class="side2">
                        <h3>@f.TournamentName</h3>
                        <p>@f.TimeFrame</p>
                    </div>
                </a>
            }
        }
        else
        {
            <p> No active tournaments</p>
        }
    </div>
}

