@model TournamentWeb.Models.ViewModels.UserProfileViewModel
@using TournamentWeb.Models.ViewModels
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers


<div asp-validation-summary="All" class="text-danger"></div>
<form class="formouter" asp-action="Edit" enctype="multipart/form-data" method="post">
    <h4 class="Fheader">Edit Profile</h4>
    <div>
        <label hidden asp-for="Id"></label>
        <label hidden asp-for="ProfileImage"></label>
    </div>
    <div class="form">
        <label asp-for="UserName"></label>
        <input asp-for="UserName"  />
    </div>
    <div class="form">
        <label asp-for="Email"></label>
        <input asp-for="Email"  />
    </div>
    <div class="form">
        <label asp-for="UserDiscord"></label>
        <input asp-for="UserDiscord"  />
    </div>
    <div class="form">
        <label asp-for="ProfileImageFile" >Add new Profile Picture</label>
        <input asp-for="ProfileImageFile"  class="formtime" type="file">
    </div>


    <button type="submit"  class="Formbutton">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>