@model MbmStore.Models.ViewModels.TournamentTabViewModel

<ul class="nav nav-tabs">
    <li role="presentation" class="@Model.ActiveTab == MbmStore.Models.ViewModels.TournamentTabViewModel.Tab.OverView"></li>
</ul>